
<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <style media="screen">

     #spacer {
       padding: 4px;
     }

     #signup {
       text-align: center;
     }

     #username {
       color: black;
       font-size: 1.5rem;
     }

     .asterisk {
       color: red;
       font-size: 1.2rem;
     }

     .main-container {
       background-image: url('https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')!important;
       background-size: cover;
       text-align: center;
       min-height: 810px;
       /*background-color: black;
       color: rgb(250,250,250);*/
       padding-top: 19rem 2rem 0;
     }

     .body-container {
       background-color: black;
       color: rgb(250,250,250);
       box-shadow: 0px 0px 1.1px 1.1px black;
       margin-top: 10vh;
       margin: 1vh;
       padding-top: 5%;
       padding-bottom: 10%;
     }

     .header {
       text-align: center;
       color: white;
       text-shadow: 1px 1px 1px black;
       font-size: 3rem;
       padding-top: 10%;
     }

     .contact-form {
       justify-content: center;
       text-align: left;
     }

     h1 {
       color: white;
       text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
     }

     .h1-header-text {
       color: rgb(250,250,250);
       text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;
       padding-top: 1.8rem;
     }

     hr {
       border-top: 1px solid white;
       border-bottom: 2px solid black;
       border-radius: 40px;
       width: 55%;
     }

     nav.navbar{
       background-color: rgba(0,0,0,1)!important;
       border-bottom: 1px solid white;
     }

     .subheader {
       text-align: center;
       font-size: 2rem;
       padding-top: 10px;
     }

     .submit-btn {
       text-align: center;
     }

     .jumbotron {
       background-color: rgba(0,0,0,0.5);
     }

     .jumbo-txt {
       color: white;
       text-shadow: 1px 1px black;
     }

     .rainbow-text {
       background-image: linear-gradient(to left, pink, violet, purple, blue, lightblue, green, yellow, orange, red);
       -webkit-background-clip: text;
       color: transparent;
       text-shadow: 1px 1px 2px transparent, 0 0 1em white, 0 0 0.2em transparent;
     }

     body {
       background-color: rgb(250,250,250);
     }

     html {
       margin-top: 0;
     }
   </style>


     <title>RB|P Home</title>
     <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
     <a class="navbar-brand" href="/">
       <span class="rainbow-text">Rainbows Photography<span>
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
       </li>

       </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Plans</a>
       </li>
     </ul>
     <form id="btn_space" class="form-inline my-2 my-lg-0">
       <a href="/login"><button class="btn btn-outline-info my-2 my-sm-0" type="button">Log In</button></a>
       <span id="spacer"></span>
       <a href="/signup"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button></a>
     </form>
   </div>
 </nav>
 </head>
 <main>

 </main>
 <body>
   <div class="main-container">
     <div class="container">
       <div class="jumbotron">
         <h1 class="h1-header-text">

           <div class="title-text text-center">
             <span>Thank You!</span><hr>
             <p>I'm so excited to meet and speak with you! I will be reaching out
               to you soon so that we can get started with planning and generally sorting
               out all of the details of your big day. In the mean time, head on over to my
               portfolio page to get a glimpse of what I have in store for you! :)
               <br><br>
               Chat soon! &hearts;
               -Anieka
             </p>
           </div>

         </h1>
       </div>
     </div>
   </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 </body>
</html>
